ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    width:80%;
    margin:60px auto;
    padding: 10px;
    border:1px solid #eaeaea;
    font-size: 18px;
}

.richEditor{
    width: 100%;
    height:120px;
    white-space: pre-wrap;
}

.tooltip-panel{
    position: fixed;
}

.tooltip-content{
    border:1px solid #000000;
    padding: 8px;
}

.tooltip-item{
    cursor: pointer;
    border-bottom: 1px solid #333;

    &:last-child{
        border-bottom: 0 none;
    }
}

.tooltip-title{
    font-weight: bold;
}

.tooltip-description{
    color:#666;
}

.code-container{
    width:80%;
    padding: 10px;
    min-height: 40px;
    border:1px solid #666;
    position: relative;
    margin:60px auto;
}

.code-content{
    width: 100%;
    height: 100%;
    white-space:pre;
}

.code-cursor {
    position: absolute;
    width: 2px;
    height: 20px;
    font-weight: normal;
    background-color: #000000;
    visibility: hidden;
    .code-container:focus & {
        visibility: visible;
    }

    animation: ani-cursor .5s linear infinite;
}

@keyframes ani-cursor {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.editor-tooltip {
    position: absolute;
    border: 1px solid #333;
}